#winners-heading {
    font-size: 1.5rem;
    font-weight: normal;
}

.flex {
    display: flex;
}

.table {
    height: 100%;
}

.title-small {
    font-size: 1.5rem;
}

#small-button {
    height: 1.5rem;
}

.status-box {
    width: min(15rem, 100%);
}

.status-info {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
